#contenedor
{
    border: 1px solid #DDD;
    margin: 0 auto;
    width: 70%;
    padding: 10px;   
}

#cabecera
{
    background: rgb(95, 0, 133); 
    margin: 0;
    padding: 1em;
    color: white;
    text-align: left;
}

#post 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

