#contenedor
{
    border: 1px solid #DDD;
    margin: 0 auto;
    width: 70%;
    padding: 10px;   
}

#cabecera
{
    background: rgb(115, 3, 160); 
    margin: 0;
    padding: 1em;
    color: white;
    display: flex;
    align-items: center;
    
}

#post 
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
    background: rgb(243, 243, 243);
}

#link 
{
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

#logo
{
    width: 5%;
    padding-right: 10px;
}

#la-mecha
{
    width: 50%;
}